/* Importar la fuente de Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

/* Paleta de Colores */
:root {
  --negro: #000000;
  --azulOscuro: #14213d;
  --naranjaClaro: #ffb53d;
  --hueso: #f8f8f8ae;
  --blanco: #ffffff;
}

/* Estilos Generales */
body {
  font-family: "Inter", sans-serif;
}

button {
  transition: background-color 0.3s ease; /* Transición suave para el cambio de color */
}

button:hover {
  background-color: #e09e0f; /* Un color ligeramente más oscuro cuando se pasa el mouse */
}

@media (max-width: 640px) {
  .forgot-password-card {
    padding: 1.5rem;
    width: 90%;
  }

  h1 {
    font-size: 1.5rem;
  }

  p {
    font-size: 1rem;
  }
}
