    <!-- Contenedor General -->
    <div class="forgot-password-container">
        <!-- Enlace para volver -->
        <a href="login.html" class="back-to-login-link">
          <i class="fas fa-arrow-left"></i> Volver
        </a>
        <!-- Card Principal -->
        <div class="forgot-password-card sombra">
          <h1>Recuperar Contraseña</h1>
          <p>Ingresa tu correo electrónico para restablecer tu contraseña.</p>
          <!-- Formulario -->
          <form id="forgot-password-form">
              <div class="input-group-button">
                  <!-- Campo de Correo -->
                  <div class="input-group">
                      <div class="input-header">
                          <i class="fas fa-envelope"></i>
                          <label for="email">Correo Electrónico</label>
                      </div>
                      <input type="email" id="email" name="email" required />
                  </div>
                  <!-- Botón de Enviar -->
                  <button type="submit">Enviar</button>
              </div>
          </form>
        </div>
      </div>