<!-- Contenedor General -->
<div
  class="forgot-password-container flex justify-center items-center w-full h-screen bg-gradient-to-b from-[#14213D] to-[#000000] relative"
>
  <!-- Enlace para volver -->
  <a
    routerLink="/login"
    class="back-to-login-link absolute bottom-10 left-7 text-white text-xl flex items-center hover:text-[#ffb53d]"
  >
    <i class="fas fa-arrow-left mr-2"></i> Volver
  </a>
  <!-- Card Principal -->
  <div
    class="forgot-password-card bg-white rounded-lg p-8 text-center max-w-md w-full relative shadow-lg"
  >
    <h1 class="text-2xl text-black mb-5">Recuperar Contraseña</h1>
    <p class="text-black mb-5">
      Ingresa tu correo electrónico para restablecer tu contraseña.
    </p>
    <!-- Formulario -->
    <form id="forgot-password-form">
      <div class="input-group-button mb-5 w-full">
        <!-- Campo de Correo -->
        <div class="input-group mb-5">
          <div class="input-header flex items-center mb-1">
            <!-- Agregar el ícono de la carta -->
            <i class="fas fa-envelope text-[#ffb53d] mr-2"></i>
            <label for="email" class="text-[#14213D] text-sm"
              >Correo Electrónico</label
            >
          </div>
          <input
            type="email"
            id="email"
            name="email"
            aria-label="Correo Electrónico"
            class="w-full p-2 border-2 border-[#14213D] rounded-md text-lg h-12 box-border"
            required
          />
        </div>
        <!-- Botón de Enviar -->
        <a
          routerLink="/contrasenaauth"
          class="bg-[#ffb53d] text-white py-2 px-5 rounded-md text-lg cursor-pointer hover:bg-[#faac0f] h-12 w-full mt-2"
        >
          Enviar</a
        >
      </div>
    </form>
  </div>
</div>
