/* Fuente Inter Cargada de Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

/* Paleta de Colores */
:root {
    --negro: #000000;
    --azulOscuro: #14213D;
    --naranjaClaro: #ffb53d;
    --hueso: #f8f8f8ae;
    --blanco: #ffffff;
}

/* Estilos Generales */
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: "Inter", sans-serif;
    background-color: var(--azulOscuro);
    background-image: linear-gradient(to bottom, #14213D 0%, var(--negro) 90%); /*Degradado Fondo*/
}

/* Contenedor General */
.login-container {
    display: flex;
    width: 1000px;
    height: 600px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    border-radius: 18px;
    overflow: hidden;
    background-color: #fff;
}

/* Bloque Izquierdo */
.login-left {
    width: 50%;
}

.login-left img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* Bloque Derecho  */
.login-right {
    width: 50%;
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* Título */
.login-right h1 {
    margin-bottom: 10px;
    font-size: 24px;
    color: var(--negro);
}

.login-right h1 .gradient-text {
    background: linear-gradient(90deg, #FCA311, #dc700a);
    background-size: 200% auto;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    display: inline;
    animation: gradientAnimation 3s linear infinite;
}

.login-right p {
    margin-bottom: 20px;
    font-size: 14px;
    color: #666;
}

/* Estilos para los input del formulario */
.input-group {
    margin-bottom: 20px;
}

.input-header {
    display: flex;
    align-items: center; /* Alinea ícono y label en la misma fila */
}

.input-header i {
    color: var(--naranjaClaro);
    font-size: 14px;
    margin-right: 8px;
}

.input-header label {
    font-size: 14px;
    color: var(--azulOscuro);
    margin-bottom: 5px;
}

.input-group input {
    margin-top: 14px;
    padding: 10px;
    font-size: 12px;
    border-radius: 4px;
    border: 1px solid #ddd;
    width: 100%; /* Asegura que el input ocupe el ancho completo */
    box-sizing: border-box;
}


#verification-code {
    background-color: var(--hueso);
    cursor: not-allowed;
}

/* Contenedor para el botón y el enlace */
.button-link-container {
    display: flex; /* Alinea el botón y el enlace en una fila */
    align-items: center; /* Alinea verticalmente el botón y el enlace */
    justify-content: flex-start; /* Mantiene los elementos alineados a la izquierda */
}

/* Estilos del Botón */
.button-link-container button {
    padding: 12px;
    font-size: 14px;
    background-color: var(--naranjaClaro);
    color: white;
    border-radius: 6px;
    cursor: pointer;
    font-weight: bold;
    border: none;
    background: linear-gradient(90deg, #FCA311, #dc700a);
    background-size: 200% auto;
    transition: background-color 0.3s, color 0.3s;
    animation: gradientAnimation 3s linear infinite;
    flex-grow: 1; /* Permite que el botón crezca para ocupar más espacio */
    min-width: 150px; /* Define un ancho mínimo para el botón */
    margin-left: 20px; /* Espacio entre el botón y el enlace */
}

.button-link-container button:hover {
    background: linear-gradient(90deg, #FCA311, #dc700a);
    color: var(--blanco);
    border-color: var(--naranjaClaro);
    transition: background 0.5s, color 0.5s;
}

/* Estilos del Enlace */
.forgot-password-link {
    font-size: 12px;
    color: var(--azulOscuro);
    text-decoration: none;
    transition: color 0.3s;
    margin-right: 20px; /* Añade un margen derecho al enlace */
}

.forgot-password-link:hover {
    color: var(--naranjaClaro); /* Cambia de color al pasar el mouse */
}

/* Keyframes para la animación del gradiente */
@keyframes gradientAnimation {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

/* Media Queries para el Diseño Responsive */
@media (max-width: 768px) {
    .login-container {
        flex-direction: column;
        width: calc(100% - 40px); 
        height: auto;
        border-radius: 10px; 
        margin: 0 20px; /* Separación en los costados */
    }

    .login-left {
        display: none; /* Con esto podemos ocultar la imagen en pantallas pequeñas */
    }

    .login-right {
        width: 90%;
        padding: 20px;
    }
}
